{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Parolingizni unutdingizmi?</h3>
    <i>
        <ul>Parolingizni tiklash uchun Email adresingizni kiriting parolingizni tiklash uchun havola yuboramiz</ul>
    </i>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success"  type="submit" value="Yuborish">

    </form>
    <hr>
    <a href="{% url 'login' %}">Kirish</a> | 
    <a href="{% url 'signup' %}">Ro`yxatdan o`tish</a>
{% endblock content %}